.stack-animation {
  position: absolute;
  top: 0;
  width: 100%;
  height:inherit;
  overflow: hidden;
  /* the sdx navigation is set to 50'000 */
  z-index: 100000;
  background: inherit;
}

/*兼容ios*/

a,
button,
ul {
    -webkit-animation: hue 60s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(-1deg);
    }
    to {
        -webkit-filter: hue-rotate(0deg);
    }
}
